/* ---------- CSS reset / root vars ---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: aqua;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}